
    <div class="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3">About Us</h1>
        <p class="lead text-white" style="font-weight: bold;">Alight sees and helps every person make meaningful change in the world – from displaced and marginalized communities </p>
      </div>

      
        <div class="ftco-cover-1 overlay" style="background-image: url('images/2.jpg');"></div>
      
    </div>
    
    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="images/img_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto">
            <h3 class="text-cursive mb-4">Our Mission</h3>
            <p>Alight exist to inspire and unleash the abundance in every person..</p>
            <p>
              We’re becoming an organization that sees possibility instead of scarcity, that provides services truly worthy of human beings instead of just ‘good enough.’ From the people we serve to the people who serve alongside us, our purpose is to unlock limitless potential, together. That’s when abundance happens. 
            </p>
            <p><a href="contact.html" class="btn btn-primary rounded-0 px-4">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    

    


    
    
    