{{#each findAll}}
    <div class="contacts-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                        <div class="panel-body custom-panel-jw">
                            <img id="profile_pic" alt="logo" class="img-square m-b" src="../../public/img/contact/2.jpg" style="width: 176px;height: 176px; text-align: center;">
                            <h3><a href="">Herve Jules Iradukunda</a></h3>
                            <p class="all-pro-ad">Kigali office</p>
                            <small>Position:ICT/Coding initiative officer</small><br>
                            <small>Work-phone:+250781560466</small><br>
                            <small>Mobile-phone:+250781560466</small><br>
                            <small>E-mail:hervei@arcrelief.org</small><br>
                            <small>Skype:hervejulesiradukunda</small>
                        </div><br>
                        <div>
                            <div class="professor-stds-int">
                                <div class="col-sm-4">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div style="color: white;" class="col-sm-4" >
                                    <a href="https://www.linkedin.com/hp/"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
{{/each}}