




    <div class="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3">The ICT/Coding initiative </h1>
      </div>

      <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('images/7.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('images/6.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('images/8.jpg');"></div>
        
      </div>
    </div>
    

    <div class="container">
      <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

        <a href="#" class="feature-29192 overlay-danger" style="background-image: url('images/9.jpg');">
          <div class="text">
            <span class="meta"style="color: #364d59;font-weight: bold;"><b>Livelihood</b></span>
            <h3 class="text-cursive text-green h1">Be Human Centred</h3>
          </div>
        </a>

        <a class="feature-29192 overlay-success" style="background-image: url('images/6.jpg');">
          <div class="text">
            <span class="meta" style="color: #364d59;font-weight: bold;">Skills</span>
            <h3 class="text-cursive text-green h1">Choose optimism</h3>
          </div>
        </a>

        <div class="feature-29192 overlay-warning" style="background-image: url('images/5.jpg');">
          <div class="text">
            <span class="meta"style="color: #364d59;font-weight: bold;">Coding School</span>
            <h3 class="text-cursive text-green h1">Bravely Be Better</h3>
          </div>
        </div>

      </div>
    </div>

    

    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="heading-20219 mb-5">
          <h2 class="title ">Latest Event</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="event-29191 mb-5">
              <a href="#" class="d-block mb-3"><img src="images/4.jpg" alt="Image" class="img-fluid rounded"></a>
              <div class="px-3 d-flex">

                <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                  <span class="text-white h3 m-0 d-block">11</span>
                  <span class="text-white small">Dec 2019</span>
                </div>

                <div>
                  <div class="mb-3">
                    <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>9:30 AM &mdash; 11:30 AM</span>
                    <span> <span class="icon-room mr-2 text-muted"></span>Kigali</span>
                  </div>
                  <h3><a href="single.html">2 Days coding school visit kLab, AC Group and met Country Directory - Bernad Ochieng </a></h3>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="event-29191 mb-5">
              <a href="#" class="d-block mb-3"><img src="images/3.jpg" alt="Image" class="img-fluid rounded"></a>
              <div class="px-3 d-flex">

                <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                  <span class="text-white h3 m-0 d-block">18</span>
                  <span class="text-white small">Dec 2019</span>
                </div>

                <div>
                  <div class="mb-3">
                    <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>8:30 AM &mdash; 17:00 AM</span>
                    <span> <span class="icon-room mr-2 text-muted"></span>Gihembe, Nyabiheke</span>
                  </div>
                  <h3><a href="single.html">UNHCR Geneva - Global forum and connectivity colleagues visited Alight_kLab coding school.</a></h3>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class="">
                <h5 style="font-style: italic;font-family: serif;font-size: 1rem;">
                  "The changing dynamics of displaced persons demands deeper reflection and a shift to more meaningful engagement of affected populations as principal parties, contributors and shapers of their futures and destiny.."
                </h5>
                <h3 style="font-style: italic;font-family: serif;font-size: 1.5rem;">
                  Bernad Ochieng, Country Director
                </h3>
              </div>

            </div>
        
      </div>
    </div>
    
    
