
    
      <div class="container marg-top">
        
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="images/person_2.jpg" alt="Card image cap">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                      <div class="card-text">
                          <p class="card-text">Department:{{findOne.dataValue.Department}}</p>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                      <div class="card-text">
                          <p class="card-text">Email:{{findOne.dataValue.Emali}}</p>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                      <div class="card-text">
                          <p class="card-text">Phone:{{findOne.dataValue.Phone}}</p>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                      <div class="card-text">
                          <p class="card-text">Skype:{{findOne.dataValue.skype}}</p>
                      </div>
                  </div>
                </div>
                                
              </div>
            </div>
          </div> 
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button class="btn btn-outline-success">Biography</button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <p>

                I was first interested in computers when I was going to choose options in the advanced level of highschool. I therefore chose to pursue computer science, and hence began my journey.<br>

                After my high school, together with my fellow collegues we brought a group of programmers into existence just to keep improving. In the same year, we started a software development company where I played a role as a project manager, desktop based application developer.<br>

                I had an internship at Rwanda National Bank where I emphasised on database administration in oracle database and networking according to the schedule given from mentors, improved my passion and skills in back-end development with oracle database.
                 </p>
                </div>
              </div><br><br>

              <div class="row mg-b-15">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="skill-title">
                                <h2>Skill Set</h2>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="progress-skill">
                        <h2>Computer programming</h2>
                        <div class="progress progress-mini">
                            <div style="width: 90%;" class="progress-bar progress-yellow"></div>
                        </div>
                    </div>
                      
                </div>
              </div><br><br>
              <div class="row mg-b-15">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="skill-title">
                        <h2>Education</h2>
                          <hr />
                      </div>
                    </div>
                  </div>
                  <div class="ex-pro">
                    <ul>
                      <li><i class="fa fa-angle-right"></i>Bachelor's degree with Honor in <strong>INFORMATION TECHNOLOGY</strong> - University of Rwanda.</li>
                                                                
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
     

    